.home-container {
  height: 100vh;
  background: url('../../assets/images/bg_home.png') no-repeat center center;
  background-size: cover;
  overflow-y: auto;

  &.container {
    padding-top:  4rem;
  }

  ion-input.custom-ion-input {
    border: none;
    background-color: #433E48;
    border-radius: 0.5rem;
  }

  ion-input.custom-ion-input .native-input {
    padding-left: 40px;
    &::placeholder {
      font-size: 14px;
      color: #A5A5A5;
      font-weight: 500;
      padding-left: 8px;
    }
  }

  .segment-label {
    position: relative;
    // &.active::before {
    //   content: "";
    //   position: absolute;
    //   top: 27px;
    //   left: -2px;
    //   right: -2px;
    //   bottom: -2px;
    //   height: 4px;
    //   border-radius: 0.5rem;
    //   // background: linear-gradient(90deg, #842ED8 31%, #DB28A9 59%, #9D1DCA 100%);
    //   background-color: #fff;
    //   z-index: 1;
    // }
    &.active {
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(90deg, #842ED8 31%, #DB28A9 59%, #9D1DCA 100%);
      border-image-slice: 1;
    }
  }
}